@charset "UTF-8";

:root{
	--fundo: #F2E8FF;
	--nav: #47255B;
	--branco: #fff;
	--preto: #000;
	--btn: #b682d6;

	--fonte-normal: #323238;
	--fonte-destaque: #271A45;
	--fonte-padrao: Arial, Helvetica, sans-serif;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: var(--fonte-padrao);
	background-color: var(--fundo);
}

nav{
	display: flex;
	justify-content: right;
}

#nav-main{
	background-color: var(--nav);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.192);
	padding: 12px;
	gap: 10px;
}

#nav-main > a{
	color: var(--branco);
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	
}

.container{
    display: flex;
    justify-content: center;
	width: 80vw;
}

#about{
	display: flex;
    justify-content: center;	
}

#about > .container{
	gap: 25px;
	margin-top: 20px;
}

strong{
	color: var(--fonte-destaque);
}

.title{
	padding-top: 20px;
	font-size: 1.6em;
	color: var(--fonte-destaque);
}

.text{
	font-size: 1.09em;
	text-align: justify;
	line-height: 1.5;
}

section .social-media > a{
	padding-right: 15px;
}

aside > section > a > img{
	width: 40px;
	height: 40px;
}

.description{
	font-size: 1.09em;
	padding: 20px 0px 20px 0px;
	text-align: center;
}

aside{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

aside > h1{
	font-size: 1.6em;
	margin: 40px 0px 35px 0px;
	color: var(--fonte-destaque);
}

aside > h2{
	text-align: center;
}

#technology{
	display: flex;
    align-items: center;
	text-align: center;
	flex-direction: column;
	gap: 25px;
}

abbr > img{
	width: 80px;
	height: 80px;
	padding: 0px 20px 10px 0px;
}

#projects{
	display: flex;
    align-items: center;
	flex-direction: column;
	gap: 25px;
}

.preview{
	width: 500px;
	height: 300px;
	padding: 30px;
}
  
li{
	margin-left: 20px; 
}

button{
	padding: 8px 20px 8px 20px;
	font-weight: bold;
	color: var(--branco);
	background-color: var(--nav);
	border: none;
	border-radius: 3px;
}

button:hover{
	color: var(--preto);
	background-color: var(--btn);
	cursor: pointer;
}

.btn-links{
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 15px;
}

#contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.container-form{
    display: flex;
	background-color: #E1DFDF;
	border-radius: 20px;
	width: 70%;
}

.container-form img {
	width: 50%;
	border-radius: 20px 0px 0px 20px;
}

.container-form > form{
	box-sizing: border-box;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	padding: 30px;
}

form > button{
	width: 30%;
	align-self: center;
}

label{
	display: block;
}

input[type="text"],
input[type="email"],
textarea{
	font-family: var(--fonte-padrao);
	box-sizing: border-box;
	resize: none;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

footer{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 100%;
	margin-top: 70px;
	padding: 12px;
	background-color: var(--nav);
	box-shadow: 0px -6px 6px rgba(0, 0, 0, 0.192);
	color: var(--branco);
}

footer > section > a > img{
	width: 22px;
	height: 22px;
}

/* telas menores*/
@media (max-width: 968px){
	#nav-main{
		justify-content: center;
	}

    .container{
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	.preview{
		width: 350px;
		height: 220px;
		padding: 0;
	}

	.container-form{
	    display: flex;
	    flex-direction: column;
		width: 90%;
	}

	.container-form img{
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.container-form > form{
		width: 100%;
	}

	footer{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
}